body {
  padding: 20px;
  background-color: #444;
}

#gridContainer {
  padding-bottom: 10px;
}

table {
  background-color: #c5d6c6;
  border-spacing: 0;
}

td {
  border: 1px solid #f1f5da;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

span {
  color: #222;
}

button {
  cursor: pointer;
}

#start,
#clear,
#random,
#nextGen,
#modalHide,
#gliderGun,
#pulsar,
.sty {
  padding: 0.75em;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom right, #c5dec6, #587559);
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: #cc4774;
  border-radius: 10px;
}

.container {
    width: fit-content;
  display: flex;
  margin-bottom: 1vh;
  align-items: center;
  justify-items: flex-start;  
}

#modalHide{
    margin-left: 3vw;
}

.value-form{
   margin-left: 3vw; 
}

.read {text-decoration: none;
color: #c5dec6;
text-shadow: #FC0 1px 0 10px;}

.sty1 {
  width: 5vw;
  font-size: 22px;
  text-align: center;
}

.modal {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5em;
  padding: 1em;
  position: absolute;
  z-index: 1;
  width: 22vw;
  background-color: #587559;
}

.close {
  cursor: pointer;
  color: #222;
  text-align: center;
  height: 20px;
  width: 20px;
  border: 2px solid #222;
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 5px;
}
.hidden {
  display: none;
}
